# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
vacation_data=pd.read_csv("../output_data/cities.csv")
vacation_df=pd.DataFrame(new_vacay)
vacation_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,broome,100,RU,1597018983,81,71.69,128.87,277.63,4.27
1,broome,12,IT,1597018984,100,46.62,10.70,291.48,1.00
2,broome,85,CK,1597018985,78,-21.21,-159.78,298.15,3.60
3,broome,0,NZ,1597018986,58,-41.41,175.52,288.15,8.70
4,broome,75,BB,1597018987,78,13.22,-59.52,301.15,6.20
...,...,...,...,...,...,...,...,...,...
566,broome,75,CL,1597019619,71,-36.72,-73.12,283.15,5.10
567,broome,70,RU,1597019620,93,54.67,20.13,292.59,3.00
568,broome,20,IL,1597019564,73,32.08,34.78,298.15,3.60
569,broome,0,RU,1597019622,80,51.32,42.77,287.59,0.89
570,broome,75,US,1597019419,57,42.25,-75.83,298.15,2.60

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [28]:
gmaps.configure(api_key = g_key)

locations = vacation_df[["Latitude", "Longitude"]]
humidity = vacation_df["Humidity"].astype(float)
max_humidity = humidity.max()

fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
heatmap_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=5)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
city_weather=vacation_df.loc[(vacation_df["Max Temp"]>70) & (vacation_df["Max Temp"]<80) & (vacation_df["Wind Speed"]<10) & (vacation_df["Cloudiness"]==0)].dropna()
city_weather

Empty DataFrame
Columns: [City, Cloudiness, Country, Date, Humidity, Latitude, Longitude, Max Temp, Wind Speed]
Index: []

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure